main, nav, header, article,section, footer {
    border: 1px solid gray;
    padding: 10px;
}
h1{
    font-weight: bold;
    
}

.nagykep>img .kep img{
    width: 100%;
}

.nagykep>img{
    width:100%;
    display: grid;
    grid-template-columns: 1fr;

}

.kep img{
    margin: 3px;
    padding: 3px;
    border: 1px solid gray;
}
.kiskep img {
    margin: 0;
    padding: 0;
}

.kiskep {
    display: grid;
    gap: 0px;
    grid-template-columns: repeat(4, 1fr);
}

nav>ul {
    list-style: none;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#piros{
    padding-left: 1px;
    padding-right: 1,5%;
    text-align: left;
    width: 80px;
    
    
}

#jobbra li {
    padding: 0%;
    text-align: right;
}
a{
    border: 1px solid red;
    border-radius: 5px;
}
#piros a{
    color: rgb(255, 1, 1);
}

a:link {
   
    text-decoration: none;
    
  }
  
 a:visited {
    color: red;
    text-decoration: none;
  }
  
 a:hover {
    color: white;
    background-color: red;
    text-decoration: none;
  }
  
 a:active {
    background-color: red;
    color: red;
    text-decoration: none;
  }
  

nav {
    padding-right: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


@media screen and(max-width: 800px) {
.kiskep {
    grid-template-columns: 1fr;
}
nav>ul {
    grid-template-columns: 1fr;
}
nav {
    grid-template-columns: 1fr;
}
}


    
